<!--
    B U R G E R  E A T E R  S I M U L A T O R
-->

<li>
    {{this.burger_name}}

    <button class="trash btn-danger" data-id="{{this.id}}" data-devoured="{{this.devoured}}">
        {{#if devoured}}{{else}}<i class="fas fa-trash"></i>{{/if}}
    </button>
</li>