<li>
    {{this.burger_name}}

    <button class="eat btn-warning" data-id="{{this.id}}" data-devoured="{{this.devoured}}">
        {{#if devoured}}<i class="fas fa-utensils"></i>{{/if}} </button>
</li>