<div class="container">
    <h1 class="text-center">Burger Eater Simulator</h1>
    <hr>

    <!--  image left  -->
    <div class="row">
        <div class="col-md-6">

            <img src="https://assets.stickpng.com/images/5882482de81acb96424ffaac.png" alt="" class="w-75" />
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6">

            <div class="row align-items-center h-100">
                <div class="col">
                    <h1 class="display-3">Burgers: Not Devoured</h1>
                    <p class="lead">this is the not devoured list placeholder
                        <br /><br />

                    </p>

                </div>
            </div>

        </div>
        <!-- /.col-md-6 -->

    </div>
    <!-- /.row -->

    <!--  image right  -->
    <div class="row">
        <div class="col-md-6 order-md-6">


        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 order-md-1">

            <div class="row align-items-center h-100">
                <div class="col">
                    <h1 class="display-3">Burgers: Devoured</h1>
                    <p class="lead">this is the devoured list placeholder
                        <br /><br />

                    </p>

                </div>
            </div>

        </div>
        <!-- /.col-md-6 -->

    </div>
    <!-- /.row -->

</div>




<div class="container my-5">



    <div class="card bg-light">
        <form class="card-body" novalidate="" action="" method="" id="bootstrapForm">



            <div class="form-group">
                <label class="h4 form-control-label" for="input3">Add a Burger</label>
                <input type="textarea" placeholder="i.e. 'Bacon Cheesebuger'" class="form-control" name="i3" id="input3"
                    required>

            </div>



            <div>
                <button type="submit" class="btn btn-secondary">Send Form</button>
            </div>

        </form>


    </div>
    <!-- /.card -->

</div>
<!-- /.container -->